<div id='main' class='tw-bg-gray-50 tw-h-screen tw-py-16'>
  <div class='tw-relative tw-mx-auto tw-w-250 tw-bg-amber-200 tw-rounded tw-py-5'>
    <div class='tw-absolute -tw-top-6'>
      <img alt='staple' src='assets/staple.png' width='100'/>
    </div>
    <div class='tw-mx-auto tw-bg-white tw-w-235 tw-shadow-xl tw-px-10 tw-py-10'>
      <header id='header' class='tw-text-center'>
        <h2 class='tw-uppercase tw-font-bold'>{{ information.name }}</h2>
        <p class='tw-mt-2'>{{ information.major }}</p>
        <p class='tw-mt-2'>
          Phone: <a class='tw-text-blue-600 hover:tw-border-b hover:tw-border-b-blue-600' href='tel:{{ information.phone.replaceAll(" ", "") }}'>{{ information.phone }}</a>;
          Mail: <a class='tw-text-blue-600 hover:tw-border-b hover:tw-border-b-blue-600' href='mailto:{{ information.mail }}'>{{ information.mail }}</a>;
          LinkedIn: <a class='tw-text-blue-600 hover:tw-border-b hover:tw-border-b-blue-600' [href]='information.linkedIn'>{{ information.linkedIn }}</a>
        </p>
      </header>
      <hr class='tw-bg-black tw-h-0.5 tw-mt-2'/>
      <section id='objective' class='tw-mt-8'>
        <h2 class='tw-text-center tw-uppercase tw-font-bold'>Objective</h2>
        <p class='tw-mb-3 tw-text-justify text-align-last-center'>{{ objective }}</p>
      </section>
      <section id='work-experience' class='tw-mt-8'>
        <h2 class='tw-text-center tw-uppercase tw-font-bold'>Work Experience</h2>
        <table *ngFor='let workExperience of workExperiences' class='tw-mt-3'>
          <tbody>
          <tr>
            <td class='tw-w-165 tw-text-left'>
              <h2 class='tw-font-bold'>{{ workExperience.company }}</h2>
              <p class=''><i>Position: {{ workExperience.position }}</i></p>
              <p class=''>Description: {{ workExperience.description }}:</p>
              <ul>
                <li *ngFor='let detail of workExperience.details'>- {{ detail }};</li>
              </ul>
            </td>
            <td class='tw-align-top tw-w-50 tw-text-right'>{{ workExperience.startDate | date }}
              - {{ workExperience.endDate === 'Present' ? 'Present' : (workExperience.endDate | date) }}</td>
          </tr>
          </tbody>
        </table>
      </section>
      <section id='skill' class='tw-mt-8'>
        <h2 class='tw-text-center tw-uppercase tw-font-bold'>Skill</h2>
        <table class='tw-mt-3'>
          <tbody>
          <tr *ngFor='let skill of skills'>
            <td class='tw-w-60'>{{ skill.type }}:</td>
            <td>{{ skill.description }}</td>
          </tr>
          </tbody>
        </table>
      </section>
      <section id='education' class='tw-mt-8'>
        <h2 class='tw-text-center tw-uppercase tw-font-bold'>Education</h2>
        <table *ngFor='let education of educations' class='tw-mt-3'>
          <tbody>
          <tr>
            <td class='tw-w-165 tw-text-left'>
              <h2 class='tw-font-bold'>{{ education.university }}</h2>
              <p class=''><i>Major: {{ education.major }}</i></p>
              <p class=''>GPA: {{ education.gpa }}</p>
            </td>
            <td class='tw-align-top tw-w-50 tw-text-right'>{{ education.startDate | date }}
              - {{ education.endDate === 'Present' ? 'Present' : (education.endDate | date) }}</td>
          </tr>
          </tbody>
        </table>
      </section>
      <section id='honor-award' class='tw-mt-8'>
        <h2 class='tw-text-center tw-uppercase tw-font-bold'>Honor & Award</h2>
        <p class='tw-mt-1 first:tw-mt-3' *ngFor='let honorAward of honorAwards'>{{ honorAward }}.</p>
      </section>
    </div>
  </div>
</div>
